<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.duskdragon.wireless</string>
	<key>connections</key>
	<dict>
		<key>1166BE9E-10B9-4D01-AE3E-EDD2F545DC97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B11D0A1-8FDC-49D2-BEB9-2BFEDC12A43C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D23B6A2-50C3-4EF6-AF6D-005208E2D5DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06A62E5C-0050-4268-A9A6-EB5B7712ED35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DC1FE5A-D86A-4F16-BEA9-FC6515518D85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1166BE9E-10B9-4D01-AE3E-EDD2F545DC97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B11D0A1-8FDC-49D2-BEB9-2BFEDC12A43C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D23B6A2-50C3-4EF6-AF6D-005208E2D5DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>BlackDragon</string>
	<key>description</key>
	<string>a tool to connect wireless easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wireless</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>if target WiFi don't have security, press Enter</string>
				<key>text</key>
				<string>Please extend password if necessary</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B11D0A1-8FDC-49D2-BEB9-2BFEDC12A43C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>wireless</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>scanning, please wait</string>
				<key>script</key>
				<string>/usr/bin/python scan.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input format: wireless[space]ssid</string>
				<key>title</key>
				<string>Connect Wireless</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5DC1FE5A-D86A-4F16-BEA9-FC6515518D85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06A62E5C-0050-4268-A9A6-EB5B7712ED35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./connect.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D23B6A2-50C3-4EF6-AF6D-005208E2D5DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} </string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1166BE9E-10B9-4D01-AE3E-EDD2F545DC97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06A62E5C-0050-4268-A9A6-EB5B7712ED35</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>1166BE9E-10B9-4D01-AE3E-EDD2F545DC97</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>5D23B6A2-50C3-4EF6-AF6D-005208E2D5DB</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>5DC1FE5A-D86A-4F16-BEA9-FC6515518D85</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>9B11D0A1-8FDC-49D2-BEB9-2BFEDC12A43C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.duskdragon.com</string>
</dict>
</plist>
